{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="http://twitter.com/lpicanco" class="text-white">Follow on Twitter</a></li>
                        <li><a href="http://github.com/lpicanco" class="text-white">My github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Facial Expression Recognition</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Facial Expression Recognition</h1>
            <p class="lead text-muted">Send a picture to detect the emotion of the faces in it</p>
        </div>
        <div class="container">
            <div class="cols-md-5">
                <form method="POST" action="#" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-group input-file">
                            <input type="file" class="form-control" name="file" placeholder='Choose a file...' />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {{util.flashed_messages(dismissible=True)}}
</main>

{% endblock %}

{% block head %}
{{super()}}
{% endblock %}